{% extends 'base.html' %}

{% block main %}
<!-- display contents of user basket -->
<section>  
    <div class="container">
        <div class="row co-12 d-flex mt-2 mb-2">
            <h3>Shopping Basket</h3>
        </div>

        <!-- each tour on seperate row -->
        {% for book in order %}
            <div class="row shadow-md my-row mb-3">
                <div class="col-sm-10 card">
                    <h5 class="card-header">{{book.name}}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-thumbnail" src="{{url_for('static', filename=('img/' + book.image))}}">
                            </div>
                            <div class="col-10">
                                <!-- Item Description -->
                                <p class="card-text">{{book.description}}</p>   
                            </div>  
                        </div>                      
                    </div>
                </div>
                <br><br>
                <!-- right column has price and delete button -->
                <div class="col-sm-2">
                <!-- delete item button -->
                    <h5 class="mt-2">{{"$%.2f"|format(book.price)}}</h5>
                    <form method="POST" action="{{url_for('main.deleteorderitem')}}">
                        <input type="hidden" id="id" name="id" value="{{book.id}}">
                        <input type="submit" value="Delete" class="btn book-btn mb-3">
                    </form> 
                </div>
            </div>
        {% endfor %}
        
        <!-- total price and page controls -->
        <section>
            <div class="row co-12 d-flex">
                <h5 class="mt-4">Quote = {{"$%.2f"|format(total_price)}}</h5>
            </div>
            <div class="row co-12 d-flex mt-2 mb-4">
                <a href="{{url_for('main.index', _anchor='cities_anchor')}}" class="btn book-btn mr-4">Books</a>
                <a href="{{url_for('main.checkout')}}" class="btn book-btn mr-4">Checkout</a>
                <a href="{{url_for('main.deleteorder')}}" class="btn book-btn">Empty Basket</a>
            </div>
        </section>
    </div>
</section>

{% endblock %}